<!DOCTYPE html>
<html>

<head>

  <%- include('../partials/head'); %>
  <title>User Page</title>

</head>

<body>
  <header>
    <%- include('../partials/pagetitle'); %>
  </header>
<!-- 
  <div class="d-flex justify-content-center">
    <div id="user-details">
      <h1>User List</h1>
      <ul>

        Lakshay

      </ul>

      <table class="table table-bordered">
        <thead>
          <tr class="text-center">

            <th scope="col">User name</th>
            <th scope="col">Details </th>
          </tr>
        </thead>
        <tbody id="tableBody">

        </tbody>

      </table>
    </div>

  </div> -->

    <div class="container">
      <div class="row my-4">
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table table-striped text-center">
              <thead>
                <tr class="table-dark">
                  <th>Id</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Project</th>
                  <th>Options</th>
                </tr>
              </thead>

              <tbody> 
                

                <% Users.forEach( (user) => { %>
                  <tr>                      
                    <td><%= user.id %></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.projecttheme %></td>
                    <!-- <td>
                      <a href="/users/edit/<%= user.id %>" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                      <a href="/users/delete/<%= user.id %>" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                    </td> -->
                    <td>
                      <a href="/projects" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                      <a href="/users/delete/<%= user.id %>" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                    </td>
                  </tr>
                <% }); %>
                

              </tbody>

            </table>
            
          </div>
        </div>
      </div>
    </div>





  <footer class="text-center fixed-bottom">
    <a href="http://localhost:3000/users/:userId/projects" >Project Page</a>
    <%- include('../partials/footer'); %>
  </footer>

</body>

<script>

let AllData = {}
  fetch("http://localhost:3000/api/users").then((data)=>{
    console.log(data);
    return data.json(); // Converted to object
}).then((objectData)=>{
    console.log(objectData[0]);
    let tableData="";
    AllData = objectData;
    objectData.map((values)=>{
        tableData +=`<tr class="text-center">
           
        <td class="text-center">${values.name}</td>
        <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onClick="handleClickModal(${values.id})">
            <i class="fa-solid fa-eye"></i>
          </button></td>
          <td><div class="projectDetailBtn"><a href="http://localhost:3000/host/user/:userId/projects?${values.projecttheme}" target="_blank"><button><i class="fa-solid fa-arrow-right"></i></button></a></div></td>
          
      </tr>`;
      
    });
    document.getElementById("table_body").innerHTML=tableData;
}).catch((error)=>{
    console.log(error);
});


  document.getElementById("tableBody").innerHTML = "This is inner html";

</script>

</html>